<!DOCTYPE html>
<html>
<head>
  <title>BankingApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <span style="float:right;">
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        	
  </span>
<% end %>
<%= yield %>

</body>
</html>
